# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# macOS system files
.DS_Store

# Virtual environment
venv/
env/

# Config and credentials
config.json
.env

# Logs
*.log

# VSCode project settings
.vscode/

# Jupyter Notebooks
*.ipynb_checkpoints/
